__pycache__/
coco/
test_perturbed_images/
*.pyc
.env
.DS_Store
.vscode/
node_modules/
dist/
build/
.idea/
*.log
coverage/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.out
*.lib
*.a
*.pdb
*.zip
